<h1>User info</h1>
          <%= form_for @user_edit, url:  user_path do |f| %>

    	　　<p><b>Name</b></p>
            <%= f.text_field :name %>

            <p><b>Image</b></p>
            <%= f.attachment_field :profile_image %>

            <p><b>Introduction</b></p>
            <%= f.text_area :introduction %>

            <%= f.submit 'Update User' %>

          <% end %>