<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="slidemenu">
  <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
    <% if user_signed_in? %>
      <li class="">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"><%= link_to "  logout", destroy_user_session_path, method: :delete %></span>
      </li>
    <!--   <li class="">
      </li> -->
      <li class="">
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to '  Users', users_path %></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-home" aria-hidden="true"><%= link_to '  Home', user_path(current_user.id) %></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-book" aria-hidden="true"><%= link_to '  Books', books_path %></span>
      </li>
    <% else %>
      <li class="">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"><%= link_to "  sign up", new_user_registration_path %></span>
      </li>
      <li class="">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"><%= link_to "  login", new_user_session_path %></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-home" aria-hidden="true"><%= link_to '  Home', root_path %></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"><%= link_to '  About', about_path %></span>
      </li>
    <% end %>
  </ul>
</div>
    <!-- <div class="header">
      <header>
    <div class="container">
      <nav>
        <span>Bookers</span>
      </nav>
      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </div>
  </header>
    </div> -->
    <%= yield %>
  </body>
</html>
